<!--
  Generated template for the TododailyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="blue">
      <ion-title>Todo - Monthly</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
    <ion-item class="p-0">
      <ion-label fixed>Task here:</ion-label>
      <ion-input type="text" [(ngModel)]="data" placeholder="Up for a new task?"></ion-input>
    </ion-item>
    <ion-item class="p-0">
      <ion-label>Priority</ion-label>
      <ion-select [(ngModel)]="priority" interface="popover">
        <ion-option class="dropdown-item bg-light">High</ion-option>
        <ion-option class="dropdown-item bg-light">Medium</ion-option>
        <ion-option class="dropdown-item bg-light">Low</ion-option>
      </ion-select>
    </ion-item>
    <ion-fab bottom right><button ion-fab mini (click)="complete()" color="green"><ion-icon name="ios-done-all-outline"></ion-icon></button></ion-fab>
    <button ion-button color="dark" (click)="add()" round block><ion-icon name="add"></ion-icon> Add the task</button>
    <ion-segment [(ngModel)]="tasks">
      <ion-segment-button value="High">
        High
      </ion-segment-button>
      <ion-segment-button value="Medium">
        Medium
      </ion-segment-button>
      <ion-segment-button value="Low">
        Low
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch] = "tasks">
      <div class="nothing" *ngIf="list.length == 0">
        <h1>There's Nothing here...</h1>
      </div>
    <ion-list *ngFor="let l of list; let i = index;" class="animated fadeIn my-2">
      <div class="" *ngIf="l.status == 'pending'">
        <ion-card *ngSwitchCase="l.priority">
          <div class="">
            <ion-card-header>
              <ion-fab top right>
                <button ion-fab mini color="info">
                  <ion-icon name="ios-more-outline"></ion-icon>
                </button>
                <ion-fab-list side="left">
                  <button ion-fab (click)="status(l)" color="secondary"><ion-icon name="ios-checkmark-circle-outline"></ion-icon></button>
                  <button ion-fab (click)="edit(l)" color="dark"><ion-icon name="ios-build-outline"></ion-icon></button>
                  <button ion-fab (click)="remove(l, i)" color="danger"><ion-icon name="ios-trash-outline"></ion-icon></button>
                </ion-fab-list>
              </ion-fab>
              <p>{{dataProvider.formatDate(l.date)}}</p>
            </ion-card-header>
            <ion-card-content>
              <p class="my-2">{{l.task}}</p>
            </ion-card-content>
          </div>
        </ion-card>
      </div>
    </ion-list>
    </div>
  </ion-content>