<!--
  Generated template for the AddtransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Add a new Transaction</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge (click)="dismiss()">
    <button ion-fab mini color="danger"><ion-icon name="ios-close-outline"></ion-icon></button>
  </ion-fab>
  <div margin>
    <ion-item>
      <ion-label floating>Amount</ion-label>
      <ion-input type="number" [(ngModel)]="amount" (input)="check()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Reason</ion-label>
      <ion-input type="text" [(ngModel)]="reason" (input)="check()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Paid to</ion-label>
      <ion-input type="text" [(ngModel)]="paid_to" (input)="check()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of Transaction</ion-label>
      <ion-datetime margin displayFormat="MMM DD YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Lent to someone?</ion-label>
      <ion-toggle margin checked="false" [(ngModel)]="lend"></ion-toggle>
    </ion-item>
  </div>
  <button ion-button round block (click)="add()" *ngIf="submitable">Add</button>
</ion-content>
