page-login {
    ion-content{
        height: 100%;
        background-image: url('../../assets/imgs/login.jpg');
        background-size: cover;
    }
    h1{
        @import url('https://fonts.googleapis.com/css?family=Raleway:500');
        @import url('https://fonts.googleapis.com/css?family=Pacifico');
        font-family: 'Pacifico', sans-serif;
        font-size: 3.9em;
    }
    hr{
        background-color: black !important;
        height: .9px !important;
        width: 75%;
    }
}
