<ion-content padding>
  <ion-row align-items-center style="height: 40%">
    <ion-col col-12 text-center><h1>Track Me</h1><hr></ion-col>
  </ion-row>
  <ion-row style="height: 50%">
    <ion-col text-center align-self-end>
      <button ion-button block round icon-start color="light" (click)="google()"><ion-icon name="logo-google"></ion-icon>Login with Google</button>
    </ion-col>
  </ion-row>
</ion-content>
