<ion-tabs color="blue">
  <ion-tab [root]="tab1Root" tabTitle="ToDo" tabIcon="ios-clipboard-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Transactions" tabIcon="ios-cash-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Notes" tabIcon="ios-bookmarks-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Remainders" tabIcon="ios-timer-outline"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Profile" tabIcon="ios-contact-outline"></ion-tab>
</ion-tabs>
