<!--
  Generated template for the NotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Notes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="nothing" *ngIf="notes.length == 0">
    <h1>There's Nothing here...</h1>
  </div>
  <ion-fab right bottom (click)="openModal()">
    <button ion-fab color="blue"><ion-icon name="ios-brush-outline"></ion-icon></button>
  </ion-fab>
  <ion-card *ngFor = 'let note of notes; let i = index;'>
    <ion-item>
      <ion-icon name="ios-clipboard-outline" item-start>
      </ion-icon>
      <div margin>
        <h2><b>{{note.title}}</b></h2>
        <h4>{{dataprovider.formatDate(note.date, false)}}</h4>
      </div>
    </ion-item>
    <ion-card-content>
      <p>{{note.content}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col text-center>
        <button ion-button icon-start clear (click)="pin_switch(i, note)">
          <ion-icon *ngIf="!note.pinned" name="ios-bookmark-outline" color="green"></ion-icon>
          <ion-icon *ngIf="note.pinned" name="ios-bookmark" color="green"></ion-icon>
          <div *ngIf="note.pinned">Unpin</div>
          <div *ngIf="!note.pinned">Pin</div>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button icon-start clear (click)="remove(i, note)">
          <ion-icon name="ios-trash-outline" color="red"></ion-icon>
          <div>Delete</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
