<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div ion-fxed class="space"></div>
  <div style="height: 30px;position: absolute;"></div>
  <div style="text-align: center;top:-70px;position: relative;">
    <img class="img" [src]="photourl" alt="">
  </div>
  <div style="text-align: center;top: -70px; position: relative">
    <h6>{{username}}</h6>
    <h6>{{email}}</h6>
  </div>
  <div padding>
    <h6 *ngIf="phone">Contact Number: {{phone}}</h6>
  </div>
  <div >
      <ion-fab bottom right>
          <button ion-fab (click) = "logOut()" color="blue"><ion-icon name="log-out"></ion-icon></button>
      </ion-fab>
  </div>
</ion-content>
