page-profile {
    h1{
        text-align: center;
        top: 40% !important;
        position: relative !important;
    }
    .border {
        border-color: white;
        border-radius: 60%;
    }
    .smaller-image {
        width: 100px;
    }
    .space{
        height: 35%; 
        background-image: url('../../assets/imgs/login.jpg');
    }
    .img{
        border-width: 33px;
        border-style: solid;
        border-radius: 50%;
        height:150px;
        border: 5px solid rgba(120, 120, 120, 0.75);
    }
}