.text {
    margin: 18px auto;
    font-family: 'Mali', cursive;
    font-size: 3em;
    color: white;
    animation-name: blink;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}
@keyframes blink{
    30%{ color: white; }
    40%{ color: black; }
    50%{ color: white; }
    60%{ color: black; }
    70%{ color: white; }
}