<ion-content>
    <ion-row padding justify-content-center margin-top margin-bottom>
        <ion-text class="text">Track Me</ion-text>
    </ion-row>
    <ion-row padding class="m">
        <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)"
        (signInFailure)="errorCallback($event)"></firebase-ui>
    </ion-row>
    <ion-row justify-content-center class="foot full">
        <ion-text color="light">Designed with <ion-icon name="heart" color="danger"></ion-icon> by AlphaBAT69</ion-text>
    </ion-row>
</ion-content>