.text {
    margin: 18px auto;
    font-family: 'Mali', cursive;
    font-size: 3em;
    color: white;
    animation-name: blink;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}
@keyframes blink{
    30%{ color: white; }
    40%{ color: black; }
    50%{ color: white; }
    60%{ color: black; }
    70%{ color: white; }
}
.m{
    height: 70%;
    align-items: center;
    justify-content: center;
}
ion-content{
    --background: linear-gradient(to right bottom, #8b78e6, #81519b, #61325b, #361c2a, #000000);
}
.foot {
    position: absolute;
    bottom: 0;
    margin: 5px auto;
    padding-bottom: 9px;
}