<!--
  Generated template for the RemaindersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Remainders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="nothing" *ngIf="remainders.length == 0">
    <h1>There's Nothing here...</h1>
  </div>
  <ion-card *ngFor = 'let obj of remainders; let i = index;'>
    <ion-card-content>
      <div>{{obj.title}}</div>
      <div>{{dataprovider.formatDate(obj.date, true)}}</div>
      <div>{{obj.content}}</div>
    </ion-card-content>
  </ion-card>
    
  <ion-fab right bottom (click)="openModal()">
    <button ion-fab color="blue"><ion-icon name="ios-bowtie-outline"></ion-icon></button>
  </ion-fab>

</ion-content>
