<!--
  Generated template for the RemaindersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Remainders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="nothing" *ngIf="remainders.length == 0">
    <h1>There's Nothing here...</h1>
  </div>
  <ion-card *ngFor = 'let obj of remainders; let i = index;'>
    <ion-item>
      <ion-icon name="ios-pricetags-outline" item-start>
      </ion-icon>
      <div margin>
        <h2><b>{{obj.title}}</b></h2>
        <h4>Date: {{obj.date}}</h4>
        <h4>Time: {{obj.time}}</h4>
      </div>
    </ion-item>
    <ion-card-content>
      <p>{{obj.description}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-center>
        <button ion-button icon-start clear (click)="remove(i, obj)">
          <ion-icon name="ios-trash-outline" color="red"></ion-icon>
          <div>Delete</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
    
  <ion-fab right bottom (click)="openModal()">
    <button ion-fab color="blue"><ion-icon name="ios-bowtie-outline"></ion-icon></button>
  </ion-fab>

</ion-content>
