page-remainders {
    .nothing{
        h1{
            margin-top: 50% !important;
            text-align: center;
            @import url('https://fonts.googleapis.com/css?family=Raleway:100');
            font-family: 'Raleway', sans-serif;
            font-size: 2.1em;
            color: rgba(120, 120, 120, .75);
        }
    }
}
