<ion-app>
  <ion-menu>
    <ion-header>
      <ion-toolbar>
        <ion-row padding-horizontal>
            <ion-row padding-vertical class="full center">
              <ion-avatar margin-top *ngIf="this.user">
                <img *ngIf="this.user.photoURL" src="https://tanaytoshniwal.me/assets/images/icon_favo.jpg">
                <img *ngIf="!this.user.photoURL" src="assets/images/user.png">
              </ion-avatar>
            </ion-row>
            <ion-row padding-vertical class="full center p-0">
              <div margin-vertical *ngIf="this.user">
                <h4 no-margin margin-start text-center><strong>{{this.user.displayName}}</strong></h4>
                <h6 no-margin margin-start text-center>{{this.user.email}}</h6>
              </div>
            </ion-row>
          </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item detail="false" lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-icon slot="start" [name]="p.icon" size="small"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-button color="dark" (click)="logout()" shape="round" expand="block">
          <ion-icon name="add"></ion-icon> logout
        </ion-button>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
