<ion-header>

  <ion-navbar color="blue">
    <ion-title>ToDo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row><ion-card col-6 (click)="open(0)">
    <ion-card-header>
      Daily Tasks
    </ion-card-header>
    <ion-card-content>
      <i>"What's better than tracking yourself Daily???"</i>
    </ion-card-content>
  </ion-card></ion-row>
  <ion-row justify-content-end><ion-card col-6 (click)="open(1)">
    <ion-card-header>
      Weekly Tasks
    </ion-card-header>
    <ion-card-content>
      <i>"Let's cluster your Daily Works?"</i>
    </ion-card-content>
  </ion-card></ion-row>
  <ion-row><ion-card col-6 (click)="open(2)">
    <ion-card-header>
      Monthly Tasks
    </ion-card-header>
    <ion-card-content>
      <i>"Grow even more by meeting your monthly goals!"</i>
    </ion-card-content>
  </ion-card></ion-row>
  <ion-row justify-content-end><ion-card col-6 (click)="open(3)">
    <ion-card-header>
      Yearly Tasks
    </ion-card-header>
    <ion-card-content>
      <i>"Everyone has New Year's Resolutions!"</i>
    </ion-card-content>
  </ion-card></ion-row>
</ion-content>
