<ion-header class="tmtheme-bg">
  <ion-toolbar color="tmtheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light"><strong>Transactions</strong></ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <div class="nothing" *ngIf="transactions.length == 0">
    <h1>There's Nothing here...</h1>
  </div>
  <ion-card *ngFor = 'let trans of transactions; let i = index;'>
    <ion-item>
      <ion-icon name="cash" item-start>
      </ion-icon>
      <div margin>
        <h2><b>{{trans.amount}}</b> Bucks</h2>
        <h4>Paid to: {{trans.paid_to}}</h4>
        <h4>{{this.formatDate(trans.date, false)}}</h4>
      </div>
    </ion-item>
    <ion-card-content>
      <p>{{trans.reason}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col text-center *ngIf="trans.lend">
        <ion-button color="tmtheme" (click)="gotback(i, trans)" shape="round" expand="block">
          <ion-icon name="done-all" color="green"></ion-icon> <ion-text color="light">Got it back</ion-text>
        </ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button color="tmtheme" (click)="remove(i, trans)" shape="round" expand="block">
          <ion-icon name="trash" color="danger"></ion-icon> <ion-text color="light">Delete</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" class="bottom">
    <ion-fab-button color="tmtheme" size="small" (click)="open()">
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>