ion-card-header{
    font-weight: bolder !important;
}
ion-card{
    width: 100%;
    background-color: rgba(210, 210, 210, 0.45);
}
ion-card-content{
    i{
        font-family: 'Mali', cursive;
    }
}