<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Track Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of topSlide" (click)="navigate(item.url)">
    <ion-img [src]='item.image'></ion-img>
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
      <ion-card-subtitle>{{item.sub}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
