<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="tmtheme">
    <ion-tab-button tab="todo">
      <ion-icon name="paper"></ion-icon>
      <ion-label>ToDo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notes">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="remainders">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Remainders</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fitness">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>Fitness</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>