<!--
  Generated template for the AddremainderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Add new Remainder</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge (click)="dismiss()">
    <button ion-fab mini color="danger"><ion-icon name="ios-close-outline"></ion-icon></button>
  </ion-fab>
  <div margin>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of Remainder</ion-label>
      <ion-datetime margin displayFormat="MMM DD YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="time"></ion-datetime>
    </ion-item>
  </div>
  <button ion-button round block (click)="add()">Add</button>
</ion-content>
